{% extends 'base.html' %}

{% block title %}
<title> Todo List Manager</title>
{% endblock title %}
{% block content %}

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


    <div class="container">
               <form method="POST" class="row">
    {% csrf_token %}
    <label class="col-lg-4"></label>   
    <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value = "{{ task_obj.task }}" >
    <input type="hidden"  name="done" value = "{{ task_obj.done }}" >
    <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
    </form>
   </br>
      </div>




{% endblock content %}